* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.capchaRequier {
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #333333;
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: space-between;
    font-size: 18px;
}

.capchaRequier__checkbox {
    height: 25px;
    width: 25px;
    border: 1px solid #000000;
    cursor: pointer;
    transition: 0.3s;
}

.capchaRequier__checkbox[data-status="loading"] {
    animation: load ease-out 0.8s infinite;
}

@keyframes load {
    0% {
        border-radius: 50%;
        border: 3px solid rgb(80, 80, 255);
        box-shadow: 0 0 0 rgb(80, 80, 255);
    }

    100% {
        border-radius: 50%;
        border: 3px solid rgb(80, 80, 255);
        box-shadow: 0 0 15px rgb(80, 80, 255);
    }
}

/* capcha styles start */

.capcha {
    width: 550px;
    padding: 25px 0;
    border-radius: 15px;
    box-shadow: 0 0 15px #00000015;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: absolute;
    top: 50px;
    left: calc(50% - 230px);
    padding: 25px;
    box-sizing: content-box;
    z-index: 200;
    opacity: 1;
    transition: 0.3s;
}

.capcha[data-hidden="true"] {
    display: none;
    opacity: 0;
}

.capcha .capcha__headline {
    font-size: 24px;
    color: #141414;
    text-align: center;
}

.capcha .canvas {
    height: 500px;
    width: 100%;
    background: rgb(188, 188, 188);
}

.capcha .range {
    width: 100%;
    accent-color: transparent;
    overflow: hidden;

}

.capcha input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 1px;
    cursor: pointer;
    border: 10px solid rgb(8, 8, 165);
    color: antiquewhite;
}

.capcha input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    background: #e6e6e6;
    border-radius: 25px;
}

.capcha .canvas-wrap {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.capcha .block {
    width: 50px;
    height: 50px;
    box-shadow: 0 0 5px #000000;
    position: absolute;
    top: 50%;
    left: 0%;
}

/* capcha styles end */